/* Tablet Responsive */
@media screen and (min-width: 768px) {
  #logo {
    position: absolute;
    left: 0;
    margin: 10px;
    font-size: 42px;
  }

  .container {
    padding: 15px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-name {
    font-size: 32px;
  }

  .quick-notes > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes > ul li {
    flex: 0 0 200px;
  }

  .social-networks .btn {
    width: calc(100% / 5);
  }

  .ads {
    display: inline-block;
  }

  .clearfix img {
    float: left;
    margin: 10px;
  }
}

/* Desktop Responsive */
@media screen and (min-width: 992px) {
  .container {
    max-width: 1280px;
  }

  #logo {
    font-size: 54px;
  }

  .recipe-name {
    font-size: 32px;
  }

  .quick-notes {
    display: inline;
    padding: 0;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-card .recipe-video {
    flex: 0 0 75%;
    height: 520px;
  }

  .social-networks .label {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

/* Large Mobile Responsive */
@media screen and (min-width: 576px) {
  .clearfix img {
    float: left;
    margin: 10px;
  }

  .social-networks .btn {
    width: calc(100% / 5);
  }
}